<html>

<head>
</head>

<body>

    <h2>Grade Statistics</h2>

    <form method="post" action="/">
      <label for="grades">Cutoffs:</label></br>
        <textarea id="cutoffs" name="cutoffs" rows="6" cols="10">50
60
70
80
90</textarea></br>
        <label for="grades">Grades to plot:</label></br>
        <textarea id="grades" name="grades" rows="10" cols="10">50
70
70
75
80
85
85
85
75
80
85
85
85
75
80
85
85
85
90
100</textarea>
        <br><br>
        <input type="submit">
    </form>
</body>

</html>
